/* ---------- FIRST SETTINGS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgb(24, 4, 43) 31%, rgba(10,1,20,1) 51%, rgba(43,2,81,1) 53%, rgb(44, 0, 69) 56%, rgb(34, 0, 42) 72%, rgba(0,0,0,1) 84%, rgba(31,0,33,1) 100%);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

/* ---------- NAVIGATION MENU ---------- */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease, backdrop-filter 0.5s ease;
}

.logo a{
    padding: 2em 0.4em .0em .4em;
}

.logo img{
    margin-top: 7px;
}

.language {
    gap: 10px;
}

.language a {
    padding: .4em;
    text-decoration: none;
    color: #B3B3B3;
}

.language a.active-lang {
    color: #fff;
}

header.scrolled {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.219);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Navigation for desktop devices */
nav.nav-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(10,1,20,0.8) 30%, rgba(43,2,81,0.8) 100%);
    border: 1px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    padding: 0.3rem;
}

.container .nav-desktop ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.container .nav-desktop li {
    width: 127px; 
    padding: 0;
    font-size: 12px;
    border-radius: 100px;
    margin: 0px;    
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.container .nav-desktop li a {
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: .5rem 2.3rem;
    color: #B3B3B3;
    text-decoration: none;
    border-radius: 100px;
    background-color: inherit;
    transition:  all 0.3s ease;
}

.container .nav-desktop li a:hover {
    color: #FFF;
}

.container .nav-desktop li.active a{
    color: #fff;
}

/* Navigation for mobile devices */
.mobile-menu #menu-toggle {
    display: none;
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
}

.mobile-menu button{
    font-family: inherit;
    border: none;
}

nav#nav-mobile {
    display: none;
    position: absolute;
    top: 75px;
    left: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(10,1,20,0.8) 30%, rgba(43,2,81,0.8) 100%);
    border: 1px solid #ffffff;
    border-radius: 40px;
    padding: 0.3rem;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

nav#nav-mobile.open {
    display: flex;
    opacity: 1; 
    transform: translateY(0);
}

#menu-toggle.open-toggle {
    padding: 18px;
    background-image: url(../images/icons/icon-opened.webp);
    background-size: contain;
}

#nav-mobile ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

#nav-mobile li {
    padding: 0;
    font-size: 12px;
    border-radius: 100px;
    margin: 0px;    
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
    overflow: hidden;

}

#nav-mobile li a {
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: .5rem 2.3rem;
    color: #B3B3B3;
    text-decoration: none;
    border-radius: 100px;
    background-color: inherit;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.language-options {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.language-options a {
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: .5rem 2.3rem;
    color: #B3B3B3;
    text-decoration: none;
    border-radius: 100px;
    background-color: inherit;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.active-lang {
    color: #fff !important;
    font-weight: 500 !important;
}


main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1150px;
    justify-content: center;
    margin: auto;
}

/* ---------- BENTO-GRID DESIGN ---------- */
.bento-grid {
    display: grid;
    grid-template-columns: repeat(8, 0.2fr);
    gap: 10px;
    margin: auto;
    margin-top: 55px;
    padding: 20px 20px 0px 20px;
    width: min(1000px, 90%);
}

.bento-grid .item {
    background: #1D1D1D;
    border: 1px solid #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-height: 100px;
}

.bento-grid .item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Top left card */
.bento-grid .large {
    position: relative;
    grid-column: span 4;
    grid-row: span 2;
    min-height: 200px;
    overflow: hidden;
    background: transparent;
}

.bento-grid .large::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/about/about-item-bg.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }

/* Top right card */
.bento-grid .large-width {
    grid-column: span 4;
    position: relative;
    overflow: hidden;
    background: transparent;
    min-height: 227px;
}

.bento-grid .large-width::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/about/tech-skills-bg.webp);
    background-size: cover;
    background-position: top;
    opacity: 0.4;
    z-index: -1;
}

/* Bottom left card */
.bento-grid .medium {
    grid-column: span 4;
    grid-row: span 1;
    position: relative;
    overflow: hidden;
    background: transparent;
    min-height: 250px;
    perspective: 1000px;
}

.bento-grid .medium::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/about/dream.webp);
    background-size: cover;
    background-position: top;
    opacity: 0.6;
    z-index: -1;
}



/* Artwork card */
.bento-grid .large-height-artwork {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    grid-row: span 2;
    min-height: 400px;
    gap: 10px;
    background-image: url(../images/about/1.webp);
    background-position-y: 40%;
    background-size: cover;
}

.bento-grid .large-height {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: span 2;
    grid-row: span 2;
    min-height: 350px;
}

/* Small cards */
.bento-grid .small {
    grid-row: span 1;
    min-height: 48.5%;
}

.bento-grid .small.small-top {
    position: relative;
    overflow: hidden;
    background: transparent;
}
.bento-grid .small.small-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/about/2.webp);
    background-position-y: 92%;
    filter: blur(3px);
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

.bento-grid .small.small-bottom {
    position: relative;
    overflow: hidden;
    background: transparent;
}

.bento-grid .small.small-bottom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: url(../images/about/3.webp);
    background-position-y: top;
    filter: blur(3px);
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

/* ---------- MAIN CONTENT ---------- */
/* Sections global settings*/
.section-title {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.section-subtitle {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
}

/* About content */
.content {
    padding: 35px 50px;
}

.content-small {
    padding: 24px 45px;
    text-wrap: balance;
}

.title {
    margin: 0;
    color: #b76eff;
}

.content .name {
    font-size: 24px;
    font-weight: 700;
    color: #b76eff;
}

.content .aspiring-dev {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    color: #fff;
}

.content .text p {
    color: #ffffff;
    text-wrap: balance
}

#last-p {
    margin-bottom: 5px;
    text-wrap: pretty;
}

.about-head {
    display: flex;
    justify-content: space-between;
}

.separator {
    width: 100%;
    height: 0.1px;
    background-color: #ffffff;
    opacity: .31;
    margin: 20px 0;
}

.social-icons {
    display: flex;
    align-items: first baseline;
    gap: 15px;
    flex-wrap: wrap;
}

.social-icons .line a {
    display: flex;
    color: #fff;
    text-decoration: none;
    gap: 5px;
    transition: color 0.3s ease;
    position: relative;
}

.social-icons .line a::after {
    content: attr(data-label);
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1D1D1D;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icons .line a:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.line a p {
    line-height: 5px;
}

.line a:hover {
    color: #b76eff;
    transition: color 0.3s ease;
}

#line a[data-label]::after {
    content: attr(data-label);
    position: absolute;
    background-color: #232323;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    top: 50%;
    left: 110%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.line:hover a[data-label]::after {
    opacity: 1;
    z-index: 1;
}

#gmail-icon {
    margin-left: -2px;
}

.tech {
    margin-bottom: -5px;
}

.name-quote {
    font-size: 12px;
    color: #eab7ff
}

.img-milo {
    display: block;
    position: absolute;
    margin: 0 auto;
    transform: translate(53%, -65%);
    width: 212px;
    height: 250px;
    background-image: url(../images/about/img-milo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(10%) blur(1px);
    transition: 0.3s ease;
    opacity: 1;
}

.bento-grid .small.small-top:hover .img-milo {
    filter: brightness(120%) blur(0px);
    opacity: 1;
    transform: translate(48%, -70%);
}

.img-joel {
    display: block;
    position: absolute;
    margin: 0 auto;
    transform: translate(37%, -66%);
    width: 252px;
    height: 262px;
    background-image: url(../images/about/joel-tlou.webp);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(10%) blur(1px);
    transition: 0.3s ease;
    opacity: 1;
}

.bento-grid .small.small-bottom:hover .img-joel{
    filter: brightness(130%) blur(0px) contrast(0.9);
    opacity: 1;
    transform: translate(32%, -71%);
}

.mask {
    display: block;
    position: absolute;
    margin: 0 auto;
    transform: translate(130%, -67%);
    rotate: 10deg;
    width: 200px;
    height: 400px;
    background-image: url(../images/about/mask.webp);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    opacity: 0;
}

.bento-grid .small.small-top:hover .mask{
    filter: brightness(140%) blur(0px);
    opacity: 0.8;
    transform: translate(35%, -60%);
}

.bento-grid .small.small-bottom:hover .mask{
    filter: brightness(140%) blur(0px);
    opacity: 0.8;
    transform: translate(38%, -70%);
}

#projects, #experience, #contact {
    display: block;
    margin: auto;
    padding: 10px 20px 0px 20px;
    width: min(1000px, 90%);
}

/* Projects section content */
.projects-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #FFF;
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 100%;
}

.project-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.project-card .project-image {
    width: 100%;
    height: 11.6em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.project-card.project51,
.project-card.hangman,
.project-card.smx-final-project {
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: transform 0.3s ease;
}

.project-card.project51::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/projects/project51.webp);
    filter: blur(3px) brightness(30%);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
    transition: transform 0.3s ease;
}

.project-card.hangman::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/projects/hangman.webp);
    filter: blur(3px) brightness(30%);
    background-size: cover;
    background-position-x: 48.5%;
    opacity: 0.6;
    z-index: -1;
    transition: transform 0.3s ease;
}

.project-card.smx-final-project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/projects/smx_final_project.webp);
    filter: blur(3px) brightness(30%);
    background-size: cover;
    background-position-x: 48.5%;
    opacity: 0.6;
    z-index: -1;
    transition: transform 0.3s ease;
}

.project-card.project51 .project-image {
    background-image: url(../images/projects/project51.webp);
    background-position: center;
}

.project-card.hangman .project-image {
    background-image: url(../images/projects/hangman.webp);
    background-position: center;
}

.project-card.smx-final-project .project-image {
    background-image: url(../images/projects/smx_final_project.webp);
    background-position: center;
}

.project-card.project51:hover::before,
.project-card.hangman:hover::before,
.project-card.smx-final-project:hover::before {
    transform: scale(1.3) rotate(-10deg);
    transition: transform 0.3s ease;
}

.project-card h2 {
    font-size: 22px;
    margin: 10px 0 0 0;
    color: #b76eff;
}

.project-card p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-wrap: balance;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.head-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-icon {
    margin-top: 3px;
    margin-bottom: -10px;
    display: block;
    padding: .6rem; 
    height: 24px;
    text-decoration: none;
    color: #FFF;
    transition: transform 0.3s ease, color 0.3s ease;
}

.link-icon:hover {
    color: #b76eff;
    transform: translateX(2px) translateY(-2px);
    transition: transform 0.3s ease, color 0.3s ease;
}

.technologies-used {
    margin-top: 10px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.technology {
    display: block;
    padding: 0 10px 0 10px;
    border: 1px solid #FFF;
    background-color: #00000070;
    border-radius: 20px;
    font-size: 13px;
}

/* Experience section styles */
.experience-timeline {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 20px 0;
}

.experience-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 18px 25px 35px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;
    overflow: hidden;
}

.experience-card.rocagrossa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/experience/ies_rocagrossa.webp);
    filter: blur(3px) brightness(30%);
    opacity: 70%;
    background-size: cover;
    border-radius: 15px;
    z-index: -1;
}

.experience-card.paxjovem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/experience/pax_jovem.webp);
    background-position: center;
    filter: blur(3px) brightness(30%);
    opacity: 70%;
    background-size: cover;
    border-radius: 15px;
    z-index: -1;
}

.experience-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
}

.experience-content-wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.experience-content h2 {
    margin: 0;
    color: #b76eff;
    font-size: 20px;
}

.experience-date {
    font-size: 14px;
    color: #bbb;
    margin-right: 10px;
    text-align: right;
}

.experience-content h3 {
    margin:  0 0 20px 0;
    color: #fff;
    font-size: 18px;
}

.experience-content ul {
    margin: 0;
    padding: 0 0 0 1.2em;
}

.experience-content ul li {
    margin: 8px 0;
    font-size: 15px;
    color: #ddd;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #FFF;
    background-color: #000000a9;
    border-radius: 10px;
    margin-top: -10px;
    padding: 8px 10px 8px 10px;
    width: fit-content;
}

.location-icon {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/icons/icon-location.webp);
    background-size: cover;
}

.location-text {
    font-size: 14px;
    color: #fff;
}

.wrap-vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.company-wrap {
    display: flex;
    align-items: center;
}

.company-wrap a {
    margin-top: -27px;
}

/* Contact section */
.end-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 50px;
    padding: 10px 0 0 0;
    background: linear-gradient(180deg, #00000000, #000000);
    padding: 27px 0 22px 0;
}

#contact {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-width: 700px;
}

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.contact-title {
    margin: 0 0 10px 0;
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    font-style: italic;
    text-align: center;
    text-wrap: balance;
}

.contact-subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    text-wrap: balance;
}

.contact-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 160px;
    border-radius: 40px;
    background: linear-gradient(135deg, #301144, #1f092e, #05000cbe);
    border: 1px solid #BABABA;
    box-shadow: 0px 1px 10px 5px #00000094;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.contact-card:hover {
    border: 1px solid #FFF;
}

.contact-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.3s ease;
    color: #BABABA;
    font-size: 30px;
    text-decoration: none;
}

.contact-card:hover .contact-link {
    color: #FFF;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-wrapper span {
    font-size: 12px;
}

.wrap {
    display: block;
    height: 40px;
}

/* Footer */
#footer {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.footer-text {
    color: #fff;
    font-weight: 300;
    font-size: 14px;   
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .container li {
        width: 71px;
    }

    .bento-grid .large {
        grid-column: span 8;
    }

    .bento-grid .large-width {
        grid-column: span 8;
    }

    .bento-grid .large-height-artwork {
        grid-column: span 4;
    }

    .bento-grid .large-height {
        grid-column: span 4;
    }

    .bento-grid .small {
        grid-column: span 4;
    }

    .bento-grid .medium {
        grid-column: span 8;
    }

    .img-milo {
        transform: translate(80%, -55%);
    }

    .bento-grid .small.small-top:hover .img-milo {
        transform: translate(75%, -60%);
    }

    .img-joel {
        transform: translate(55%, -57%);
    }

    .bento-grid .small.small-bottom:hover .img-joel{
        transform: translate(50%, -62%);
    }

    .joel-quote .content-small,
    .milo-quote .content-small {
        max-width: 200px;
    }
    
    .bento-grid .small.small-top:hover .mask{
        transform: translate(65%, -65%) rotate(10deg);
    }

    .bento-grid .small.small-bottom:hover .mask{
        transform: translate(65%, -70%) rotate(10deg);
    }

    .wrap-vertical h3 {
        margin: 0;
    }

    .experience-content-wrapper {
        flex-direction: column;
    }

    .location {
        display: none;
    }

    .company-wrap a {
        margin-top: -6px;
    }

    .experience-content-wrapper {
        gap: 6px;
        margin-bottom: 20px;
    }
    
    .experience-date {
        text-align: left;
    }
    
    .end-portfolio {
        margin-top: 0px;
    }
}

@media screen and (max-width: 642px) {	
    nav.nav-desktop {
        display: none;
    }

    .mobile-menu #menu-toggle{
        display: block;
    }

    .logo {
        margin-left: 15px;
    }

    .language {
        display: none;
    }
}

@media screen and (max-width: 538px) {
    .contact-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 517px) {
    .about-head {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 480px) {
    .bento-grid .large {
        grid-column: span 8;
    }

    .bento-grid .large-width {
        grid-column: span 8;
    }

    .bento-grid .large-height-artwork {
        grid-column: span 8;
        background-position: center;
    }

    .bento-grid .large-height {
        grid-column: span 8;
    }

    .bento-grid .small {
        grid-column: span 8;
    }

    .bento-grid .medium {
        grid-column: span 8;
    }

    .img-milo {
        transform: translate(110%, -60%);
    }

    .bento-grid .small.small-top:hover .img-milo {
        transform: translate(105%, -65%);
    }

    .img-joel {
        transform: translate(90%, -60%);
    }

    .bento-grid .small.small-bottom:hover .img-joel{
        transform: translate(85%, -65%);
    }

    .bento-grid .small.small-top:hover .mask{
        transform: translate(100%, -70%) rotate(10deg);
    }

    .bento-grid .small.small-bottom:hover .mask{
        transform: translate(100%, -70%) rotate(10deg);
    }
}

@media screen and (max-width: 405px) {
    .img-milo {
        transform: translate(85%, -60%);
    }

    .bento-grid .small.small-top:hover .img-milo {
        transform: translate(80%, -65%);
    }

    .img-joel {
        transform: translate(65%, -60%);
    }

    .bento-grid .small.small-bottom:hover .img-joel{
        transform: translate(60%, -65%);
    }

    .bento-grid .small.small-top:hover .mask{
        transform: translate(70%, -70%) rotate(10deg);
    }

    .bento-grid .small.small-bottom:hover .mask{
        transform: translate(70%, -70%) rotate(10deg);
    }
}